@CHARSET "UTF-8";

body, html {
	height: 100%;
	background: #fdf7ea;
	margin-top: 0;
	margin-bottom: 0;
}

#container {
	width: 1000px;
	position: relative;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#main {
	margin-top: 235px;
	text-align: center;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 14px;
}