@CHARSET "UTF-8";

body {
  min-height: 100%;
  background: #fdf7ea;
  font-family: 'メイリオ', Meiryo,sans-serif;
}

#contents {
	position: absolute;
	width: 100%;
	height: 170px;
	background: black;
	top: 0;
	left: 0;
}

.icon {
	margin-left: 80px;
	margin-top: 25px;
}

#dropmenu {
	position: absolute;
	list-style-type: none;
	top: 0;
	left: 0;
	right: 0;
	margin: 118px auto 0;
	width: 1000px;
	height: 50px;
}

#dropmenu li {
	position: relative;
	width: 25%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}

#dropmenu li a {
	display: block;
	margin: 0;
	padding: 16px 0;
	background: black;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}

#dropmenu li ul {
	list-style-type: none;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

#dropmenu li ul li {
	overflow: hidden;
	width: 100%;
	height: 0;
	color: #fff;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	-o-transition: .2s;
	-ms-transition: .2s;
	transition: .2s;
}

#dropmenu li ul li a {
	padding: 13px 15px;
	background: #db8c4d;
	text-align: left;
	font-size: 15px;
	font-weight: nomal;
}

#dropmenu > li:hover > a {
	background: #fdf7ea;
	color: black;
}

#dropmenu >li:hover li:hover > a {
	background: #fcd5a5;
	color: black
}

#dropmenu li:hover > ul > li {
	overflow: visible;
	height: 41px;
}

#dropmenu li ul li ul {
	top: 0;
	left: 100%;
}

#dropmenu li:last-child ul li ul {
	left: -100%;
	width: 100%;
}

#dropmenu li ul li ul li a {
	background: #804040;
}

#dropmenu li:hover ul li ul li:hover > a {
	background: #b97373;
}

#dropmenu li ul li ul:before {
	position: absolute;
	content: "";
	top: 13px;
	left: -20px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #400040;
}

#dropmenu li:last-child ul li ul:before {
	position: absolute;
	content: "";
	top: 13px;
	left: 200%;
	margin-left: -20px;
	border: 5px solid transparent;
	border-right-color: #ff0000;
}

header a:link{
	              color:#ffffff;
}
header a:visited{
	              color:#ffffff;
}
header a:hover{
	              color:#ffffff;
}
header a:active{
	              color:#ffffff;
}